.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    width: 80vw;
    height: 100vh;
    border: 1px solid gold;
    flex-wrap: wrap;
    align-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid gold
}

.first {
    background-color: red;
    /* align-self: center; */
}

.second {
    width: 120px;
    height: 120px;
    overflow: visible;
    background-color: green;
    /* align-self: start; */
}

.third {
    background-color: blue;
}