p {
    width: 300px;
    height: 300px;
    padding: 100px;
    /* padding: 100px 110px 90px 5px; */
    border: 10px black solid;
    background-color: blueviolet;
}

*,
::after,
::before {
    box-sizing: border-box;
}

div:before {
    width: 10px;
    height: 10px;
    padding: 2px;
    margin: 2px;
    border: 1px black solid;
    content: "...";
}