div.container :first-child {
    font-size: 45px;
}

div.container :last-child {
    font-size: 45px;
}


.container p:first-of-type {
    color: blue
}

.container :first-of-type {
    background-color: aliceblue;
}

.container :last-of-type {
    background-color: red;
}

ul li:nth-child(odd) {
    font-family: 'Courier New', Courier, monospace;
}

ul li:nth-child(3) {
    color: blue;
}

ul li:nth-child(3n) {
    background-color: red;
}

p:hover {
    /* font-size: 120px; */
    cursor: crosshair;
}

a:focus {
    font-size: 40px;
    color: aquamarine;
}