.container {
    width: 50vw;
    height: 100vh;
    border: 1px solid gold;
}

.box {
    width: 15%;
    height: 15%;
    border: 1px solid gold
}

.first {
    background-color: red;
}

.second {
    overflow: visible;
    background-color: green;
}

.third {
    background-color: blue;
}