p::first-letter {
    color: orange;
}


.yanir::first-line {
    font-style: italic;
}

::selection {
    background-color: pink;
}

p::after {
    content: "!!!";
    /* display: block; */
}

p::before {
    content: "...";
    /* display: block; */
}